<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HeartstoneAssessment.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>50B5737328E0D09A00618251</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50B5738328E0D09C00618251</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50B5738D28E0D09C00618251</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
